<%- include('../partials/header') %>

<div class="container-fluid">
  <h2 class="list-heading">Listings</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Category</th>
          <th scope="col">Product Name</th>
          <th scope="col">Minimum Bid</th>
          <th scope="col">Maximum Bid</th>
          <th scope="col">Bid Endtime</th>
          <th scope="col">View Listing</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>
            <img src="https://via.placeholder.com/150" alt="product image" />
          </td>
          <td>Furniture</td>
          <td>Bed</td>
          <td>Rs. 50000</td>
          <td>Rs. 550000</td>
          <td>20 Oct. 2021, 1:35 PM</td>
          <td>
            <a class="btn btn-light" href="#" role="button">View</a>
          </td>
          <td>
            <button
              type="button"
              class="btn-close btn-close-white"
              aria-label="Delete"
            ></button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>
            <img src="https://via.placeholder.com/150" alt="product image" />
          </td>
          <td>Furniture</td>
          <td>Bed</td>
          <td>Rs. 50000</td>
          <td>Rs. 250000</td>
          <td>20 Oct. 2021, 1:35 PM</td>
          <td>
            <a class="btn btn-light" href="#" role="button">View</a>
          </td>
          <td>
            <button
              type="button"
              class="btn-close btn-close-white"
              aria-label="Delete"
            ></button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>
            <img src="https://via.placeholder.com/150" alt="product image" />
          </td>
          <td>Furniture</td>
          <td>Bed</td>
          <td>Rs. 50000</td>
          <td>Rs. 150000</td>
          <td>20 Oct. 2021, 1:35 PM</td>
          <td>
            <a class="btn btn-light" href="#" role="button">View</a>
          </td>
          <td>
            <button
              type="button"
              class="btn-close btn-close-white"
              aria-label="Delete"
            ></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%- include('../partials/footer') %>
