<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-money fa-6x"></i> -->
    <h1 class="display-3">About Page</h1>
    <p class="lead">This is about Page</p>
  </div>
</div>

<%- include('partials/footer') %>
